@mixin centerAlign {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile-header {
  @include centerAlign();
  flex-direction: column;
  width: 100%;
  background-color: #68aaba;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  padding: inherit, 0, inherit;
  height: 400px;
}

/* Profile picture positioning */
header div {
  @include centerAlign();
}

/* Profile name text positioning */
header h2 {
  @include centerAlign();
}

@media (min-width: 1024px) {
  // name and avatar
  .profile-header {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    /* only make the background grow as much as needed to fit content */
    height: 100%;
    /* make the profile header only 1/3 of screen */
    flex: 1;
    padding: 2rem;
  }
}