html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

 body {
  color: #545149;
  background-color: cornsilk;
  font-size: 24px;
  font-family: 'Source Sans 3', sans-serif;
  justify-content: center;
  /* padding to accomodate nav bar height */
  padding-top: 120px;
}

.container {
  /* container spec */
  display: flex;
  flex-direction: column;
  width: 90%;
  /* center itself within the body */
  margin: 0 auto;

  /* inherent the color from the parent element (body) */
  background-color: inherit;
  /* all tags centered */
  justify-content: center;
  text-align: center;
  padding: 2rem;
}


@media (min-width: 1024px) {
  .desktop-container {
    display: flex;
    gap: 1em;
  }

  /* the tweets and form */
  .container {
    display: flex;
    /* allow container to take 2/3 of screen */
    flex: 2;
  }
}
