$bungee-font-stack: "Bungee", sans-serif;
$secondary-font-stack: "Source Sans 3", sans-serif;
$main-blue-color: #68aaba;
$purple: #4056A1;

nav {
  display: flex;
  background-color: $main-blue-color;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  height: 120px;
  width: 100%;
  color: #FFFFFF;
  padding: 1.5em;
  justify-content: space-between;
  position: fixed;
  top: 0px;

  // Tweeter Logo
  span { font: 100% $bungee-font-stack; }

  // double angle down icon
  i {
    display: flex;
    align-self: center;
    color: red;

  }

}

.right-side-nav {
    display: flex;
    /* stack the arrow and span on top of each other */
    flex-direction: column;
}

.right-side-nav:hover {
  cursor: pointer;
}

#write-a-tweet {
  font-family: $secondary-font-stack;
}

/* scroll to top button */
.fa-angles-up {
  // red with 50% opacity
  background-color: rgba(104, 170, 186, 0.5);
  color: white;
  padding: 1.25em;
  font-size: 1.25em;
  border-radius: 50%;
  position: fixed;
  bottom: 24px;
  right: 24px;
}

.fa-angles-up:hover {
  cursor: pointer;
  background-color: $main-blue-color;
}

.to-top-icon {
  /* hidden by default */
  display: none;
}


@media (min-width: 1024px) {
  nav {
    background-color: $purple;
    background-image: none;
  }
}
