nav {
  display: flex;
  background-color: #4056A1;
  height: 120px;
  width: 100%;
  color: #FFFFFF;
  padding: 1.5em;
  justify-content: space-between;
  /* make the navbar always persist at the top of the viewport */
  position: fixed;
  top: 0px;

}

/* Tweeter "Logo" */
nav span {
  font-family: "Bungee", sans-serif;
}

/* Right side Nav */
.right-side-nav {
  display: flex;
  /* stack the arrow and span on top of each other */
  flex-direction: column;
}

.right-side-nav:hover {
  cursor: pointer;
}

#write-a-tweet {
font-family: "Source Sans 3", sans-serif;
}

/* double angle down icon */
nav i {
  display: flex;
  align-self: center;
  color: red;
}

/* scroll to top button */
.fa-angles-up {
  background-color: red;
  color: white;
  padding: 24px;
  border-radius: 50%;
  position: fixed;
  bottom: 24px;
  right: 24px;

}

.to-top-icon {
  /* hidden by default */
  display: none;
}

.to-top-icon:hover {
  cursor: pointer;
}
