nav {
  display: flex;
  background-color: #68aaba;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  height: 120px;
  width: 100%;
  color: #FFFFFF;
  padding: 1.5em;
  justify-content: space-between;
  position: fixed;
  top: 0px;
}
nav span {
  font: 100% "Bungee", sans-serif;
}
nav i {
  display: flex;
  align-self: center;
  color: red;
}

.right-side-nav {
  display: flex;
  /* stack the arrow and span on top of each other */
  flex-direction: column;
}

.right-side-nav:hover {
  cursor: pointer;
}

#write-a-tweet {
  font-family: "Source Sans 3", sans-serif;
}

/* scroll to top button */
.fa-angles-up {
  background-color: rgba(104, 170, 186, 0.5);
  color: white;
  padding: 1.25em;
  font-size: 1.25em;
  border-radius: 50%;
  position: fixed;
  bottom: 24px;
  right: 24px;
}

.fa-angles-up:hover {
  cursor: pointer;
  background-color: #68aaba;
}

.to-top-icon {
  /* hidden by default */
  display: none;
}

@media (min-width: 1024px) {
  nav {
    background-color: #4056A1;
    background-image: none;
  }
}
