.tweet {
  display: flex;
  flex-direction: column;
  margin: 1em 0px;
  padding: 1em 0px;
  border: 5px solid grey;
  justify-content: space-between;
}

.tweet header {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: inherit;
  background-image: none;
  justify-content: space-between;
  padding: 1em;
}

.person-info {
  display: flex;
  gap: 10px;
}
.tweet footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 0px 1em;
  margin: 0px;
  font-size: 18px;
}
.post-date {
  margin-left: 1em;
  padding-left: 1em;
}
.tweet p {
  border-bottom: 5px solid black;
  text-align: left;
  margin: 1em;
  padding: 1em;
}

.tweet img {
  height: 50px;
  width: 50px;
}

.tweet-icons {
  display: flex;
  gap: 10px;
  padding-right: 1em;
  margin-right: 1em;
}